__pycache__/load_data.cpython-38.pyc
__pycache__/utilities.cpython-38.pyc
.ipynb_checkpoints/How to compute derivatives of Mean and Variance of a Gaussian Process.torch-checkpoint.ipynb
.ipynb_checkpoints/How to fit a Motion with a Gaussian Mixture of Gaussian Process.scikit -checkpoint.ipynb
.ipynb_checkpoints/How to have multiple output sharing one kernel.torch-checkpoint.ipynb
